# Example query and result for song play analysis.

#### Setup

In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT=config.get("CLUSTER","HOST")
DWH_ROLE_ARN=config.get("IAM_ROLE","ARN")

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cn34gilqj2ub.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Example query
### How many times is the each song played on each a day of the week?

In [6]:
%%time
%%sql
SELECT t.weekday, COUNT(p.songplay_id) as num_songplayed
FROM songplay p
JOIN time t ON (p.start_time = t.start_time)
GROUP BY t.weekday
ORDER BY 2 DESC;

 * postgresql://dwhuser:***@dwhcluster.cn34gilqj2ub.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.
CPU times: user 4.9 ms, sys: 0 ns, total: 4.9 ms
Wall time: 4.82 s

[(3, 1457), (5, 1337), (2, 1142), (1, 1085), (4, 1078), (6, 647), (0, 408)]